---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

/* Sets the homepage name and meta */
let title = "Pharaohs of Ancient Egypt";
let meta1 = "Description of the page";
let meta2 = "keywords,comma,separated";
const bild = "assets/";

import p1 from "@/assets/phse-pharaohs.webp";
import p2 from "@/assets/phse-turin.webp";
import p3 from "@/assets/phse-kinglists.webp";
import p4 from "@/assets/phse-monuments.webp";
import p5 from "@/assets/phse-obelisks.webp";
import p6 from "@/assets/phse-hieroglyphs.webp";
import p7 from "@/assets/phse-maps.webp";
import p8 from "@/assets/phse-bookseries.webp";
import marble from "@/assets/marble.webp";

const items = [
	{
		title: "Pharaohs",
		bild: p1,
		alt: "Detail from Tomb of Prince Amunherkhopshef (QV55) with his father Ramesses III",
		url: "/pharaohs",
		text: "<em>The royal titulary</em> of the Egyptian pharaohs was the standard naming convention adopted by the kings of ancient Egypt. It symbolised their supremacy and sacred power, and was written with hieroglyphs.",
	},
	{
		title: "Turin King List",
		bild: p2,
		alt: "Detail from Turin King List",
		url: "/kinglists/turin",
		text: "This unique, heavily fragmented 3,300-year-old papyrus roll, also known as the <i>Royal Canon of Turin</i>, contains the most detailed chronological record of Egyptian pharaohs, forming the foundation of ancient Egyptian chronology.",
	},
	{
		title: "Kinglists",
		bild: p3,
		alt: "Ancient Egyptian king lists",
		url: "/kinglists",
		text: "Royal lineages were established to honour revered ancestors and emphasise the reigning king's legitimacy as the latest in a long line of rulers dating back to the time of the gods. The purpose was not to provide an accurate historical or chronological account.",
	},
	{
		title: "Monuments",
		bild: p4,
		alt: "Monuments and temples in Ancient Egypt",
		url: "/articles/temples",
		text: "The ancient Egyptians built some of the world's most impressive and enduring monuments. The pyramids and beautifully decorated temples built by the pharaohs and dedicated to their gods are testament to their advanced engineering and artistic abilities.",
	},
	{
		title: "Obelisks",
		bild: p5,
		alt: "Ancient Egyptian obelisks",
		url: "/obelisks",
		text: "These tall, four-sided monuments are carved from a single piece of stone and have a pyramid-like shape or pyramidion at the top. Obelisks were erected in pairs at the entrance to temples, bearing the name of the pharaoh who commissioned them, along with a short inscription or dedication.",
	},
	{
		title: "Hieroglyphs",
		bild: p6,
		alt: "Hieroglyphs and ancient Egyptian language",
		url: "/articles/hieroglyphs",
		text: "Egyptian hieroglyphs were previously believed to be a mystical script comprising symbols representing ideas and concepts rather than a language. However, when interest in them was rekindled during the Renaissance, it became apparent that they were part of a forgotten language.",
	},
	/* 	{
		title: "Cartography",
		bild: p7,
		alt: "Maps of ancient Egypt",
		url: "/articles/maps",
		text: "Maps of Egypt before the 1700s were notoriously unreliable and inaccurate. They often lacked features and were decorated with imaginary objects. Manuscripts describe places, but rarely include anything but the most rudimentary maps.",
	},
	{
		title: "Egyptology books",
		bild: p8,
		alt: "Useful Egyptology books",
		url: "/articles/book-series",
		text: "After being left undisturbed for centuries or even millennia, many of the ancient sites were explored and documented by expeditions in the 1800s. Many of these historic sites can now only be visited through these time capsules.",
	}, */
];
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<!-- 	<p>Restructuring front- and back-end of website. Project started September 2025.</p>
	<p class="tabular-nums">Using <b>{Astro.generator}</b> with Tailwindcss.</p>
	<h2 class="text-2xl font-bold mt-10 mb-4">Pages</h2>
	<ul class="columns-4">
		<li><a href="/pharaohs">Pharaohs</a></li>
		<li><a href="/dynasties">Dynasties</a></li>
		<li><a href="/periods/">Periods</a></li>
		<li><a href="/kinglists">Kinglists</a></li>
		<li><a href="/authors">Authors</a></li>
		<li><a href="/obelisks">Obelisks</a></li>
		<li><a href="/articles/chronology">Chronology</a></li>
		<li><a href="/articles/egyptology">Egyptology</a></li>
		<li><a href="/articles/hieratic">Hieratic</a></li>
		<li><a href="/articles/hieroglyphs">Hieroglyphs</a></li>
		<li><a href="/articles/book-series">book-series</a></li>
		<li><a href="/bibliography">bibliography</a></li>
		<li><a href="/articles/papyrus">papyrus</a></li>
		<li><a href="/articles/pyramids">pyramids</a></li>
		<li><a href="/articles/temples">temples</a></li>
		<li><a href="/articles/titles">titles</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/articles">Articles</a></li>
		<li><a href="/periods/old-kingdom">OK</a></li>
	</ul>
	<h2 class="italic pt-10">Basic pages above</h2>
-->
	<p class="pt-4 text-justify">
		The traditional names of the pharaohs have been in use for over two thousand years. In most cases, these are ancient approximations of their
		original names, derived from Greek historians in antiquity. It was only in the past two centuries that the true names of the pharaohs were fully
		revealed, following the decipherment of the hieroglyphs 200 years ago.
	</p>

	<div class="z-10 grid grid-cols-1 gap-5 py-10">
		<!-- MARK: Cards
		-->
		<div class="grid grid-cols-1 grid-rows-1 justify-center gap-4 md:grid-cols-2">
			{
				items.map((item, i) => (
					<div class="max-w-xl mx-auto rounded-t-xl my-2 card transition duration-500 ease-in-out hover:contrast-125 hover:saturate-100 hover:shadow-2xl hover:bg-yellow-100/30 dark:hover:bg-neutral-700 p-0">
						<a href={item.url} class="nolinkcolor">
							<div class="relative">
								<Image src={item.bild} loading={i < 2 ? "eager" : "lazy"} alt={item.alt} class="rounded-t-lg" />
								<div class="absolute inset-0 flex items-end bottom-0 justify-center">
									<div class="w-full text-white bg-black/40 text-center text-3xl font-bold text-shadow-lg/40 py-0">{item.title}</div>
								</div>
							</div>
							<div class="text-sm p-4 tx" set:html={item.text} />
						</a>
					</div>
				))
			}
		</div>

		<div class="w-full py-10 lg:mx-auto">
			<h2>The king lists of antiquity</h2>
			<p>
				<Image
					src={marble}
					loading="lazy"
					alt="king lists of antiquity (AI-generated busts of Greek men)"
					class="hidden w-60 rounded-full p-5 sm:inline md:float-left"
					style="shape-outside: circle(50%);"
				/>
				<i>The Bible</i> only mention the names of four minor pharaohs of the Late Period, otherwise the kings of Egypt are simply known as <em
					>Pharaoh</em
				>. In antiquity, Greek historians who visited Egypt encountered the names of kings from that country which were unknown to them. They
				attempted to approximate these names into Greek, but the resulting transcriptions were not entirely accurate, as might be expected.

				<a href="/authors">Manetho</a>, an Egyptian priest who flourished in the first half of the third century BC, is the principal source for the <a
					href="/articles/chronology">chronology of ancient Egypt</a
				>. He composed <em>Aegyptiaca</em>, "The History of Egypt," by combining material from the sacred temple archives with popular traditions,
				legends, and narratives. The majority of the names currently in use for pharaohs originate from Manetho, or more specifically, from quotations
				preserved by historians writing several centuries later. <a href="/authors/africanus">Manetho's dynasties</a> established the fundamental chronology
				of ancient Egypt.
			</p>
			<p>
				It is inevitable that errors and corruption will occur in subsequent copies over the centuries. These may range from simple misunderstandings
				of the text to outright alterations and omissions. The names that had been preserved by Manetho were widely recognised and constituted the
				initial point of reference for Champollion when he embarked upon deciphering of the cartouches of kings. The second half of the nineteenth
				century saw the advent of the new science of Egyptology and the gradual revelation of the original names of the pharaohs.
			</p>
		</div>

		<!-- MARK: Timeline
		-->
		<h2>Chronology of the king lists</h2>

		<ul class="relative w-full border-l bordercolor md:max-w-3xl lg:mx-auto">
			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 1450 BC</div>
				<div class="my-3">
					<a href="/kinglists/karnak-canon" class="text-2xl">Karnak Canon</a>
				</div>
				<p>
					This was originally created during the reign of <a href="/pharaohs/Thutmose-III">Thutmose III</a> for honouring celebrated ancestors and was
					located in the south-west corner of the <i>Akh-Menu Hall</i> at the Great Temple at Karnak. On display at the Louvre in Paris.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 1280 BC</div>
				<div class="my-3">
					<a href="/kinglists/abydos-canon" class="text-2xl">Abydos Canon</a>
				</div>
				<p>
					A list of 76 pharaohs inscribed in the Hall of Kings in the <i>Mortuary Temple of Seti I</i> at Abydos, where selected ancestors were honoured.
					Still in its original place in Egypt.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 1225 BC</div>
				<div class="my-3">
					<a href="/kinglists/turin" class="text-2xl">Turin King List</a>
				</div>
				<p>
					An ancient chronological list of Egyptian pharaohs in a poorly preserved hieratic papyrus roll dating from the reign of Ramesses II. This
					list is undoubtedly the most significant of Ancient Egypt and is often referred to as the <i>Royal Canon of Turin</i>. It is likely that
					Manetho used very similar sources to this for his king lists. On display at the Egyptian Museum in Turin, Italy.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 450 BC</div>
				<div class="my-3">
					<a href="/authors/herodotus" class="text-2xl">Herodotus of Halicarnassus</a>
				</div>
				<p>
					The Greek historian Herodotus visited Egypt during the 27th Dynasty, when it was under Persian domination. His <em>Histories</em> is the earliest
					known work to use the actual royal names rather than the generic term ‘pharaoh’. As a chronological work, however, it is of little value: for
					instance, he placed kings of the Old Kingdom <i>after</i> the New Kingdom. Although his work is often unreliable, Herodotus provides a detailed
					account of ancient Egypt and offers anecdotal insights into the lives of numerous pharaohs, some of whom are composites of multiple kings. He
					also references the priests claim that there had been around 330 kings in total.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 275 BC</div>
				<div class="my-3"><a href="/authors" class="text-2xl">Manetho of Sebennytos</a></div>
				<p>
					The Egyptian priest Manetho wrote <em>Aegyptiaca</em>, also known as the ‘History of Egypt’, which covered all the pharaohs up to the time
					of Alexander the Great's conquest. During the first centuries CE, knowledge of how to read hieroglyphs gradually declined and was completely
					lost by the time Western Rome fell in 476. Thanks to the early historians who transcribed extracts from the Aegyptiaca, the Greek
					approximations of the original names of the pharaohs were preserved, as was the chronology and division of the long line of pharaohs into
					dynasties. This chronology was the most complete available on the pharaohs. Although it is far from perfect, much of it has been
					corroborated by archaeological findings, and the division into dynasties is still in use today.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">65-72 AD</div>
				<div class="text-2xl my-3">Plutarch</div>
				<p>
					Plutarch is sometimes referenced as having information about Manetho, and he does in fact refer to him several times in <em
						>Isis and Osiris</em
					>. However, it is unlikely that his source was <em>Aegyptiaca</em>; it is more probable that it was another one of Manetho's works. Plutarch
					travelled to Alexandria and Egypt to further his education. Although the date of composition of the essay is unknown, it is generally
					thought to have been written after his visit. He makes no mention of a list of kings.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 95 AD</div>
				<div class="my-3"><a href="/authors/josephus" class="text-2xl">Josephus</a></div>
				<p>
					The Roman–Jewish historian and military leader <i>Flavius Josephus</i> (c. 37-100) mentions Manetho in <em>Antiquities of the Jews</em> and <em
						>Against Apion</em
					>: “the Egyptian-born Manetho, who translated Egyptian history from the priestly writings”. Josephus does not mention dynastic divisions and
					only names about 25 rulers, most of whom were from the New Kingdom.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 200 AD</div>
				<div class="my-3"><a href="/authors/africanus" class="text-2xl">Africanus</a></div>
				<p>
					<i>Julius Africanus</i> (c. 160–240) was an early Christian historian. He wrote <em>Chronographiai</em>, a five-volume history of the world,
					which covers the period from the creation of Adam to his own time. The original manuscript has not survived; only fragments remain,
					primarily in the form of excerpts preserved by Eusebius and Syncellus.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 3rd-century</div>
				<div class="text-2xl my-3">Ancient Chronicle &nbsp;<i class="text-sm">(Pseudo-Manetho)</i></div>
				<p>
					A forgery claiming to be an ancient Egyptian text called the <em>Old</em> or <em>Ancient Chronicle</em> was also circulated. It described 30
					dynasties over 113 generations, spanning 36,525 years. See Syncellus below.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 325 AD</div>
				<div class="my-3"><a href="/authors/eusebius" class="text-2xl">Eusebius</a></div>
				<p>
					<i>Eusebius of Caesarea</i> (c. 260–339) was an early Christian historian. Around 325, he penned <i>the Chronicle</i>, a two-volume
					“Universal History” covering the period from the birth of Abraham to his own time. While the original Greek volumes are lost, quotations
					preserved by later authors make it possible to reconstruct most of the work. In the second book, the “Canons”, Eusebius revolutionised
					chronology by arranging historical timelines from different civilisations in a series of parallel columns. This allowed readers to see how
					events in different cultures corresponded chronologically.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 382 AD</div>
				<div class="my-3"><a href="/authors/jerome" class="text-2xl">Jerome</a></div>
				<p>
					An updated Latin translation of the second book of Eusebius’ (the Canons) known as the <em>Chronicle of Jerome</em> was created by Christian
					priest and historian <i>Jerome of Stridon</i> around 382. Jerome updated or extended the timeline from where Eusebius left off, adding events
					up to his own time. Jerome’s well-received Chronicle, written in Latin, made it more accessible to a wider audience in the Western world, while
					Eusebius’ Greek original became increasingly obscure. There are more than a hundred surviving manuscripts of the Chronicle.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 4th century</div>
				<div class="text-2xl my-3">The Book of Sothis &nbsp;<i class="text-sm">(Pseudo-Manetho)</i></div>
				<p>
					Also called the Sothic Cycle, attributed to Manetho but most likely a forgery used/composed by Panodorus of Alexandria. The sequence of
					kings is clearly not presented in chronological order. See Syncellus below.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 4th century</div>
				<div class="my-3"><a href="/authors/eratosthenes" class="text-2xl">Eratosthenes</a>&nbsp;<i>(Pseudo-Eratosthenes)</i></div>
				<p>
					A forgery trying to gain credibility by using the famous Eratosthenes. Some of the names listed are found in Manetho and Herodotus,
					suggesting that there may be a common but corrupted source behind the list, but most names bear no resemblance to the names on other king
					lists.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">c. 810 AD</div>
				<div class="my-3"><a href="/authors/syncellus" class="text-2xl">Syncellus</a></div>
				<p>
					<em>Selected Chronography</em>, a chronicle written by the Byzantine priest George Syncellus, is the primary source of our knowledge of the
					contents of <em>Aegyptiaca</em>, thanks to Syncellus’ preserved excerpts from Africanus and Eusebius’ chronicles. The original manuscript of
					Syncellus has been lost, and only later copies remain.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">10th century and onwards</div>
				<div class="text-2xl my-3">Surviving manuscripts</div>
				<p>
					None of the original books written by the authors in question above have survived. The extant manuscripts date from the 10th century or
					later, representing copies of copies that are themselves separated from the originals by several centuries. Given the considerable number of
					generations of texts, it is inevitable that the originals will have been contaminated or corrupted to some extent.
				</p>
				<p>
					A number of potential errors may be introduced in the course of the copying process, The may include the skipping of lines, the omission of
					words, or the replication of phrases. Such errors may be inadvertent, but they can give rise to discrepancies between different manuscript
					copies, particularly if the document undergoing transcription itself was already compromised by earlier transcriptions. Copyists might have
					trouble comprehending the text they were transcribing if it was written in an unfamiliar language or used archaic expressions. There are
					numerous other ways errors might be introduced.
				</p>
			</li>

			<li class="mb-8 ml-6">
				<div class="dot"></div>
				<div class="font-semibold tracking-widest">1822-24</div>
				<div class="text-2xl my-3">Hieroglyphs deciphered</div>
				<p>
					The discovery of the <a href="/articles/rosetta-stone">Rosetta Stone</a> in 1799 played an instrumental role in the decipherment of the hieroglyphs.
					The hieroglyphs were still unreadable, but progress was being made. It contains the same text written in three scripts: <em
						>hieroglyphic, Demotic</em
					>, and <em>Greek</em>. Many scholars worked to solve the puzzle, slowly adding clues, until Jean François Champollion made a breakthrough in
					1822. He used the Rosetta Stone inscriptions and his methodical study of demotic and hieratic from previous years to finally be able to
					decipher the hieroglyphs. The discovery opened the way to the reading of a wide range of texts on monuments and papyri, and it can be said
					that the field of Egyptology was born.
				</p>
			</li>
		</ul>
	</div>
</Layout>
