---
import Layout from "../layouts/Layout.astro";
import obelisks from "../data/obelisks.json";
const title = "The Obelisks of Ancient Egypt";
import Obelisk from "../components/Obelisk.astro";
let meta1 = "Details about the various obelisks from Ancient Egypt inscribed with hieroglyphs";
let meta2 = "Egyptian obelisks,inscribed obelisks,ancient obelisks";
const bild = "https://pharaoh.se/images/pharaohse-obelisks.webp";
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<section class="page-content">
		<div class="container">
			<img src="/obelisks/KIU65535s.webp" class="w-[111px] float-right pl-5" alt="Ob" />
			<p>
				Obelisks (from Ancient Greek <gr>ὀβελίσκος</gr> &nbsp;<small>obeliskos</small>), meaning "pointed pillar" are tall four-sided monuments with a
				pyramid-like shape or pyramidion at the apex, quarried in one piece from a single stone. Obelisks were prominently placed in pairs at the
				entrance of temples by the Ancient Egyptians. The ancient Egyptian name was Tekhenu. Several ancient Egyptian obelisks are known to have
				survived, but are dispersed throughout the world, only a few remain in Egypt. The obelisks described here are only those inscribed with
				hieroglyphs. The few ancient Egyptian uninscribed obelisks are not included; including the Vatican obelisk brought to Rome by Emperor
				Caligula. Several fragments from broken obelisks remain, but since they are—at best—incomplete, are not included here.
			</p>
			<p>
				One of the most sacred sites in ancient Egypt was Heliopolis (<tlit>iwnw</tlit>, Iunu) located where the Nile divides into the many rivers
				forming the Delta, and where it is believed that the gods <i>Ra</i> and <i>Atum</i> first appeared. At the center stood the Temple of the Sun.
				Occupied since predynastic times and all through ancient Egypts history, this was the most sacred place in the land. The Greeks called it Heliopolis
				(city of the Sun) and it was much larger than the Karnak Temple Complex at Thebes, but far easier access to plunder of its treasured stone structures.
				Of the 48 obelisks the Romans shipped back home, at least eight came directly from Heliopolis. According to the Greek historian Strabo, Heliopolis
				was in ruins by 24 BC. Apart from a single obelisk, nothing of Heliopolis remain today as almost every single bit of masonry left was scavenged
				as building material first for <i>Fustat</i> and then <i>Cairo</i>.
			</p>
			<p>
				In Upper Egypt, the corresponding site was <em>Heliopolis of the South</em>, i.e. Thebes, the city of the god <i>Amun</i>. <a
					href="/curiosities/hatshepsut-obelisk">Queen Hatshepsut's obelisk</a
				> in the Great Temple at Karnak is the largest in Egypt. Only about 30 large obelisks from ancient Egypt with hieroglyphic writing still exist.
				Some of these are reconstructed from fragments and not entirely complete.
			</p>

			<!--
	
	Ammianus Marcellinus, Roman Antiquities, Book XVII (17) [Rerum gestarum (Latin: lit. of things accomplished, ie. history)
	https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Ammian/17*.html
	
Rerum gestarum 17.4 (By order of Constantius [Constantius II] Augustus an obelisk is set up at Rome in the Circus Maximus; also an account of obelisks and hieroglyphics.)

	The translation of the first line, beginning on the South side, reads as follows:​
	First Line: 
		18 "The Sun speaks to King Ramestes. I have granted to thee that thou shouldst with joy rule over the whole earth, thou  p329 whom the Sun loveth — and power­ful Apollo, lover of truth, son of Heron, god-born, creator of the world, whom the Sun hath chosen, the doughty son of Mars, King Ramestes. Unto him the whole earth is made subject through his valour and boldness. King Ramastes, eternal child of the Sun."

	Second Line.
		19 "Mighty Apollo, seated upon truth, Lord of the Diadem, who hath gloriously honoured Egypt as his peculiar possession, who hath beautified Heliopolis, created the rest of the world, and adorned with manifold honours the Gods erected in Heliopolis — he whom the Sun loveth."

	Third Line.
		20 "Mighty Apollo, child of the sun, all-radiant, whom the Sun hath chosen and valiant Mars endowed; whose blessings shall endure forever; whom Ammon​24 loveth, as having filled his temple with the good fruits of the date palm; unto whom the Gods have given length of life. Apollo, mighty son of Heron, Ramestes,​25 king of the world, who hath preserved Egypt by conquering other nations; whom the Sun loveth; to whom the Gods have granted length of life; Lord of the world, Ramestes ever-living." 

	West Side, Second Line.
		21 "The Sun, great God, Lord of Heaven; I have granted to thee life hitherto unforeseen. Apollo the mighty, Lord incomparable of the Diadem, who hath set up statues of the Gods in this kingdom, ruler of Egypt, and he adorned Heliopolis just as he did the Sun himself, Ruler of Heaven; he finished a good work, child of the Sun, the king ever-living."

	Third Line.
		22 "The God Sun, Lord of Heaven, to Ramastes the king. I have granted to thee the rule and the authority over all men; whom Apollo, lover of truth, Lord of seasons, and Vulcan, father of the Gods, hath chosen for Mars. King all-gladdening, child of the Sun and beloved of the Sun."

	East Side, First Line.

		23 "The great God of Heliopolis, heavenly, mighty Apollo, son of Heron, whom the Sun hath loved, whom the Gods hath honoured, the ruler over all the earth, whom the Sun hath chosen, a king valiant for Mars, whom Ammon loveth, and he that is all-radiant, having set apart the king eternal"; and so on. 

 -->

			<div class="grid my-10 gap-4">
				{obelisks.map((obelisk) => <Obelisk obelisk={obelisk} />)}
			</div>
		</div>
	</section>
</Layout>
