---
import Layout from "@/layouts/Layout.astro";
import plats from "@/data/platser.json";
const title = "Temples and Monuments in Ancient Egypt";
let meta1 = "The ruins of the impressive temples and monuments in Ancient Egypt, where to find them, and who built them";
let meta2 = "Temples,monuments,chapel,buildings,ancient egypt";
const bild = "/images/pharaohse-temples.webp";

const place = new Array();
var namn, bilden, bygg, aka, text, bibb, gps;
for (let i = 0; i < plats.length; i++) {
	namn = plats[i].name;
	bilden = "/images/q" + plats[i].bild + ".webp";
	//bild = q01;
	bygg = plats[i].builtby;
	aka = plats[i].aka;
	text = plats[i].text;
	bibb = plats[i].biblio;
	//var g = "https://www.google.com/maps/@?api=1&map_action=map&center=";
	var g = "https://www.google.com/maps?ll=";
	gps = g + plats[i].gpsN + "," + plats[i].gpsE + "&t=h&z=16";

	place.push({
		namn: namn,
		bilden: bilden,
		bygg: bygg,
		aka: aka,
		text: text,
		bibb: bibb,
		gps: gps,
	});
}
// https://en.wikipedia.org/wiki/International_Campaign_to_Save_the_Monuments_of_Nubia
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<section class="page-content">
		<div class="container print:break-after-page">
			<p class="lead">
				From the gigantic pyramid fields of Memphis to the huge temples and tombs of Thebes, mystical Egypt continues inspire awe in people across the
				world.
			</p>
			<p>
				The ancient Egyptians erected some of the world's most spectacular and long-lasting monuments. Their pyramids, temples and other structures
				are are a testament to their engineering and artistic skills. Temples were created and dedicated to the gods, as well as hosting ceremonies
				and festivals, and were beautifully ornamented with religious imagery and hieroglyphic writings.
			</p>
			<p class="py-3">
				In addition to <a href="/pyramids">pyramids</a> and temples, the ancient Egyptians also built a variety of other monuments, including
				<a href="/obelisks">obelisks</a>, sphinxes, enormous statues, and necropolises with finely decorated tombs dug into the mountains. These
				monuments were used to commemorate important events or individuals, and they were also a way for the Egyptians to show their power and
				strength. They are a testament to the ingenuity and creativity of ancient Egypt, though mostly in ruins, many of these structures have
				withstood the test of time and continue to be studied and admired by people all over the world.
			</p>
			<p class="pb-8 pt-5">
				This is by no means an exhaustive list of sites, and there are many sites that could have been included but were left out for the sake of
				brevity and simplicity. Arguably, only the most important and well-known sites will be presented here.
			</p>
		</div>

		<div class="container">
			{
				place.map((n) => (
					<div class="mb-20 print:mt-10 print:break-before-page">
						<div class="text-center">
							<h2 class="py-2">{n.namn}</h2>
							<div class="pos">
								<img loading="lazy" class="w-full rounded-md sm:rounded-2xl" src={n.bilden} alt={n.namn} />

								<a target="_blank" href={n.gps} class="transition-all duration-500 hover:scale-150" title="Show on map">
									<svg
										height="48px"
										width="48px"
										version="1.1"
										id="Layer_1"
										xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink"
										viewBox="0 0 473.658 473.658"
										xml:space="preserve"
										fill="#000000"
									>
										<circle style="fill:#A2D4DE;" cx="236.829" cy="236.829" r="236.829" /> <title>Show a map to {n.namn}</title>{" "}
										<path
											style="fill:#6CC077;"
											d="M404.288,69.347c92.488,92.488,92.495,242.446-0.007,334.941c-92.48,92.488-242.446,92.488-334.934,0 L404.288,69.347z"
										/>{" "}
										<path
											style="fill:#FFFFFF;"
											d="M445.79,125.333c-1.81-3.388-3.695-6.728-5.669-10.007 C220.85,200.753,124.016,406.517,110.629,437.201c3.235,2.046,6.514,4.001,9.854,5.894 C130.561,419.553,225.476,210.356,445.79,125.333z"
										/>{" "}
										<path
											style="fill:#CC3432;"
											d="M237.506,80.252c-57.665,0-104.41,46.745-104.41,104.395c0,75.94,98.531,177.478,107.39,177.478 c8.859,0,101.399-110.487,101.399-177.478C341.886,126.997,295.156,80.252,237.506,80.252z M237.001,219.545 c-22.636,0-40.967-17.838-40.967-39.857s18.332-39.872,40.967-39.872c22.628,0,40.967,17.849,40.967,39.872 S259.629,219.545,237.001,219.545z"
										/>{" "}
										<path
											style="fill:#BA2E2D;"
											d="M240.486,363.994c-9.218,0-109.26-102.618-109.26-179.348c0-58.592,47.676-106.265,106.279-106.265 c58.585,0,106.25,47.672,106.25,106.265C343.755,251.264,250.673,363.994,240.486,363.994z M237.506,82.122 c-56.539,0-102.54,45.993-102.54,102.525c0,76.217,96.833,173.768,105.502,175.593c8.863-2.285,99.548-109.178,99.548-175.593 C340.016,128.115,294.03,82.122,237.506,82.122z M237.001,221.414c-23.619,0-42.837-18.72-42.837-41.726 c0-23.021,19.218-41.741,42.837-41.741s42.837,18.72,42.837,41.741C279.838,202.694,260.62,221.414,237.001,221.414z M237.001,141.686c-21.559,0-39.098,17.049-39.098,38.002c0,20.949,17.539,37.987,39.098,37.987 c21.563,0,39.098-17.041,39.098-37.987C276.099,158.731,258.56,141.686,237.001,141.686z"
										/>
									</svg>
								</a>
							</div>
							<p class="py-8 font-sans text-base">
								<b>Built by:</b> &nbsp; {n.bygg}
							</p>
						</div>
						<div class="kartinfo">
							<p set:html={n.text} />
							<div
								id="biblio"
								class="mt-3 border-t border-smoke-300 px-3 font-sans text-smoke-600 dark:border-shark-700 dark:text-shark-400"
								set:html={n.bibb}
							/>
						</div>
					</div>
				))
			}
		</div>
	</section>
</Layout>

<style>
	.pos {
		position: relative;
	}
	.pos a {
		position: absolute;
		bottom: -8%;
		left: 46%;
	}
	.pos a svg {
		transition: 0.3s ease-in-out;
		filter: saturate(75%) drop-shadow(1px 1px 4px #11551160);
	}
	.pos a svg:hover {
		transition: 0.3s ease-in-out;
		filter: contrast(150%) saturate(121%) drop-shadow(1px 1px 4px #111);
	}

	.place {
		margin-bottom: var(--size-10);
	}
	.place b {
		color: var(--glow);
		/* text-shadow: 0 0 10px var(--glow); */
		font-weight: 400;
		font-family: var(--sans);
		/* font-variant: small-caps; */
	}
	.bibb {
		font-size: 12px;
		border-top: 1px solid var(--text-4);
		padding: 0.5rem;
		line-height: var(--font-lineheight-4);
	}
</style>
