---
import Layout from "../../layouts/Layout.astro";
import dynastys from "../../data/dynasties.json";

export async function getStaticPaths() {
	return dynastys.map((p) => ({
		params: { slug: p.slug },
		props: { dynasty: p },
	}));
}

const { dynasty } = Astro.props;

/* These will be sent to Layout for page name and meta tags */
const title = dynasty.name;
const meta1 = dynasty.meta1;
const meta2 = dynasty.meta2;
const bild = dynasty.image;
---

<Layout title={title} meta1={meta1} meta2={meta2} bild={bild}>
	<h1 class="text-3xl font-bold">{dynasty.name}</h1>
	<p class="text-lg text-gray-600">{dynasty.period}</p>
	<article class="mt-4">{dynasty.description}</article>
</Layout>
