---
import { getCollection, getEntry } from "astro:content";

interface Frontmatter {
	title: string;
	period: string;
	description: string;
}

export async function getStaticPaths() {
	const dynastyEntries = await getCollection("dynasty");
	return dynastyEntries.map((entry) => ({
		params: { id: entry.id.replace(".md", "") }, // Remove .md from file name
	}));
}

const { id } = Astro.params;
const entry = await getEntry("dynasty", `${id}.md`);
const dynasty = entry?.data || {
	title: `Dynasty ${id}`,
	period: `Period for Dynasty ${id}`,
	description: `Description for Dynasty ${id}`,
};
---

<h1>{dynasty.title}</h1>
<p>{dynasty.period}</p>
<div>{dynasty.description}</div>
